{% extends 'base.html' %} {% block body %}

<h1>Verticle Tank Maintainance</h1>
<hr />
<h3>VTM Estimater</h3>

<form action="/estimate" method="POST">
  <label for="Radius">Radius:</label>
  <input type="number" id="Radius" name="Radius" />
  <br /><br />
  <label for="Height">Height:</label>
  <input type="number" id="Height" name="Height" />
  <br /><br />
  <input type="submit" id="submit" value="Submit" />
  <input type="reset" value="Clear" />
</form>

{% if estimate %} The estimate is about ${{estimate}} {% endif %} {% endblock %}
